<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>
<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>
<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<h3>Button Toggle</h3>
<mat-button-toggle-group>
  <mat-button-toggle>
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle>
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle>
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle disabled>
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-divider></mat-divider>
<h3>Progress Bar</h3>
<mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<h3>Chip List</h3>
<mat-chip-list>
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>
<h3>Card</h3>
<mat-card>
  <mat-card-title>
    TITLE
  </mat-card-title>
  <mat-card-content></mat-card-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique vel neque ut aliquam. In a scelerisque
    risus. Phasellus ex leo, aliquet quis velit sed, faucibus molestie nibh. In molestie eu mi et cursus. Suspendisse
    potenti. Nulla nisl orci, aliquam pretium gravida id, porta sed nulla. Nunc congue lacus eleifend massa vestibulum
    vestibulum. </p>
</mat-card>
