@import "~src/styles"

$foreground: map-get($theme, foreground)
$primary: map-get($theme, primary)

#content-wrapper
  height: 82.8vh
  background: url("~src/assets/images/msi-2019.jpg") top / cover
  background-blend-mode: luminosity
