<mat-toolbar color="primary" class="mat-elevation-z5">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <!-- HOME BUTTON IN DESKTOP -->
    <button class="home-button" mat-button routerLink="/home" fxHide.xs>
      <img routerLink="/home" src="/assets/site_style/logo.png"/>
      <strong>GABU</strong> ESPORTS
    </button>
    <!-- HOME BUTTON IN MOBILE -->
    <button class="home-button mobile-button" mat-button routerLink="/home" fxHide.gt-xs>
      <strong>GABU</strong> ESPORTS
      <img routerLink="/home" src="/assets/site_style/logo.png"/>
    </button>
  </div>

  <!-- NAVIGATION BUTTONS (ONLY VISIBLE ON DESKTOP) -->
  <div fxLayout fxFlex fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="6px" class="navigation-items">
      <li>
        <button class="nav-item-button" mat-button routerLink="/msi-2019">Discord Fantasy</button>
      </li>
      <li>
        <button class="nav-item-button" mat-button routerLink="/msi-2019">MSI 2019</button>
      </li>
      <li>
        <button class="nav-item-button" mat-button routerLink="/msi-2019">Horarios</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
