<div id="column" fxLayout="column" fxLayoutAlign="center center">
  <h3 id="user-name">{{data.user_name}}</h3>
  <mat-divider></mat-divider>
  <h3 id="pts">{{data.pts}}</h3>
  <div fxLayout="column">
    <div id="team-container" fxLayout="column" fxLayoutAlign="center center"
         *ngFor="let team of data.teams_predictions; let i = index">
      <app-team-logo-picture [teamState]="data.states[i]" [teamAcronym]="team"></app-team-logo-picture>
      <span *ngIf="data.score_predictions" class="result"
            [class.score-winner]="data.states[i] === 'O'">{{data.score_predictions[i]}}</span>
    </div>
  </div>
</div>
