<mat-tab-group [selectedIndex]="4">

  <!-- -------------------------------- -->
  <mat-tab label="Día 1">
    <app-predict-table [predictsData]="data.day1" [title]="'Grupos: Día 1'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>

  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Día 2">
    <app-predict-table [predictsData]="data.day2" [title]="'Grupos: Día 2'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>

  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Día 3">
    <app-predict-table [predictsData]="data.day3" [title]="'Grupos: Día 3'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>

  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Día 4">
    <app-predict-table [predictsData]="data.day4" [title]="'Grupos: Día 4'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>

  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Día 5">
    <app-predict-table [predictsData]="data.day5" [title]="'Grupos: Día 5'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>

  </mat-tab>
</mat-tab-group>
