@import "~src/styles"
@import url('https://fonts.googleapis.com/css?family=Khand:400,700')

$primary: map-get($theme, primary)
$accent: map-get($theme, accent)

#ranking-header
  margin-top: 16px
  width: 100%
  border-bottom: mat-color($primary) solid 1px

.ordinal
  text-align: center

h4
  margin: 0
  font-size: 18px
  font-family: 'Khand', sans-serif

h4.header
  color: mat-color($primary)
  margin-bottom: 16px
  font-weight: bold

.item-list
  height: 48px
  width: 100%
