@import "~src/styles"

$foreground: map-get($theme, foreground)
$primary: map-get($theme, primary)
$accent: map-get($theme, accent)

footer
  height: 95px
  width: 100%
  padding-top: 15px
  background-color: mat-color($primary)
  color: mat-color($foreground, disabled-button)

fa-icon
  font-size: 32px

