<footer fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutGap="50px">
    <a href="https://medium.com/@gabuardi"><fa-icon [icon]="['fab', 'medium']"></fa-icon></a>
    <a href="https://discord.gg/ygXvHv"><fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
    <a href="https://github.com/Gabuardi"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
    <a href="https://twitter.com/Gabuardi_"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
  </div>
  <p>Ⓖ 2019 - Josué Gabuardi</p>
</footer>
