<mat-nav-list>
  <img src="/assets/site_style/logo.png" fxLayoutAlign="center center" />
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/msi-2019" (click)="onSidenavClose()">
    <fa-icon [icon]="['fas', 'trophy']"></fa-icon> <span class="nav-caption">MSI 2019</span>
  </a>
  <a mat-list-item routerLink="/discord-fantasy" (click)="onSidenavClose()">
    <fa-icon [icon]="['fas', 'hat-wizard']"></fa-icon> <span class="nav-caption">Fantasy Predicts</span>
  </a>
  <a mat-list-item routerLink="/schedules" (click)="onSidenavClose()">
    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> <span class="nav-caption">Horarios</span>
  </a>
</mat-nav-list>
