<!-- MAT SIDE NAV CONTAINER  -->
<mat-sidenav-container class="mat-typography">

  <!-- ----------------------------------------------- MAT SIDE NAV  -->
  <mat-sidenav #sidenav role="navigation">

    <!-- SIDE NAV LIST -->
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>

  </mat-sidenav>

  <!--  --------------------------------------- MAT SIDE NAV CONTENT  -->
  <mat-sidenav-content fxLayout="column">

    <!-- HEADER -->
    <app-header (sidenavToggle)="sidenav.toggle()" [currentUser]="currentUser"></app-header>

    <!-- ROUTER PAGE CONTENT -->
    <main>
      <router-outlet></router-outlet>
    </main>

    <!-- FOOTER -->
    <div fxFlexOffset="auto">
      <app-footer></app-footer>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
