@import '~@angular/material/theming';

$luxor-golden-primary: mat-palette($mat-grey, 200, 500, 300);
$luxor-golden-accent: mat-palette($mat-blue-grey, 400);
$luxor-golden-warn: mat-palette($mat-red, 500);

$luxor-golden-theme: mat-dark-theme(
    $luxor-golden-primary
    $luxor-golden-accent,
    $luxor-golden-warn
);
