<div class="log-in-container" fxLayout fxLayoutAlign="center">
  <!-- MAT CARD STARTS -->
  <mat-card fxLayout="column" fxLayoutAlign="space-between center">
    <!-- TITLE -->
    <mat-card-title>SIGN IN</mat-card-title>
    <!-- CONTENT -->
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill>

      <!-- USERNAME -->
      <mat-form-field color="accent">
        <input matInput placeholder="Username">
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field color="accent">
        <input matInput placeholder="Password">
      </mat-form-field>

      <!-- LOG IN BUTTON -->
      <button mat-flat-button color="accent">Log In</button>

    </mat-card-content>
  </mat-card>
  <!-- MAT CARD ENDS -->
</div>
