@import url('https://fonts.googleapis.com/css?family=Khand:400,700')

#countdown-container
  width: 300px
  height: 300px

#countdown
  position: absolute


h3, p
  font-family: 'Khand', sans-serif

h3
  font-size: 27px

p
  font-size: 20px
