<mat-tab-group [selectedIndex]="4">

  <!-- -------------------------------- -->
  <mat-tab label="Play-In: Día 1">
    <app-predict-table [predictsData]="data.day1" [title]="'Play-In: Día 1'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>
  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Play-In: Día 2">
    <app-predict-table [predictsData]="data.day2" [title]="'Play-In: Día 2'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>
  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Play-In: Día 3">
    <app-predict-table [predictsData]="data.day3" [title]="'Play-In: Día 3'"
                       (usersPoints)="emmitEventProcessedData($event)"></app-predict-table>
  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Eliminatorias Play-In: Día 1">
    <app-bo5-predict-table [predictsData]="data.knockoutDay1" [title]="'Eliminatorias Play-In: Día 1'"
                           (usersPoints)="emmitEventProcessedData($event)"></app-bo5-predict-table>
  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Eliminatorias Play-In: Día 2">
    <div id="predict-invalidation-message-container" fxLayout="row wrap" fxLayoutAlign="center center">
      <h2 fxLayout="80%">Débido a las razones explicadas en el Discord, las predicciónes de este día quedaron
        inválidas</h2>
    </div>
  </mat-tab>

</mat-tab-group>
