<!-- MAT SIDE CONTAINER START -->
<mat-sidenav-container>

  <!----------------------------- RANKING SIDENAV --------------------------->
  <mat-sidenav #ranking_sidenav position="end" role="navigation" ngClass.xs="mobile">
    <!--  SIDENAV HEADER  -->
    <div id="sidenav-header" class="mat-elevation-z2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <h3>Tabla de Posiciones</h3>
      <button id="close-sidenav-button" mat-icon-button color="accent" (click)="ranking_sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!--  RANKING -->
    <app-ranking-table id="ranking-table"></app-ranking-table>
  </mat-sidenav>

  <!-------------------------------- CONTENT------------------------------>
  <mat-sidenav-content>
    <h1 ngClass.xs="phone">Fantasy Predicts</h1>

    <!-------- ACTIONS BAR ------->
    <div id="button-container" fxLayout fxLayoutGap="7px">

      <!-- PHASE TABLES TOGGLE -->
      <mat-button-toggle-group value="{{stageSelection}}">
        <mat-button-toggle value="play-in" (click)="toggleStageView(0, 'play-in')">
          Play-In
        </mat-button-toggle>
        <mat-button-toggle value="groups" (click)="toggleStageView(1, 'groups')">
          Grupos
        </mat-button-toggle>
        <mat-button-toggle value="knockouts" (click)="toggleStageView(2, 'knockouts')">
          Eliminatorias
        </mat-button-toggle>
      </mat-button-toggle-group>

      <!------------ RANKING BUTTON -->
      <!-- DESK / TABLET -->
      <button mat-flat-button color="primary" (click)="ranking_sidenav.open()" fxHide.xs>
        <fa-icon class="button-icons bigger-mobile" [icon]="['fas', 'crown']"></fa-icon>
        Tabla de Posiciones
      </button>
      <!-- MOBILE -->
      <button mat-flat-button color="primary" (click)="ranking_sidenav.open()" fxHide.gt-xs>
        <fa-icon class="button-icons" [icon]="['fas', 'crown']"></fa-icon>
      </button>

      <!------------ FORMS -->
      <!-- DESK / TABLET -->
      <button mat-stroked-button color="primary" (click)="openFormDialog()" fxHide.xs>
        <fa-icon class="button-icons bigger-mobile" [icon]="['fas', 'clipboard']"></fa-icon>
        Formularios
      </button>
      <!-- MOBILE -->
      <button mat-stroked-button color="primary" (click)="openFormDialog()" fxHide.gt-xs>
        <fa-icon class="button-icons" [icon]="['fas', 'clipboard']"></fa-icon>
      </button>

    </div>

    <!--  TABS  -->
    <mat-divider></mat-divider>
    <app-play-in [data]="playInData" fxShow="{{stageViewControl[0]}}" (processedData)="rankPoints($event)"></app-play-in>
    <app-groups [data]="groupsData" fxShow="{{stageViewControl[1]}}" (processedData)="rankPoints($event)"></app-groups>
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- MAT SIDE CONTAINER ENDS -->
