@import "~src/styles"

$primary: map-get($theme, primary)
$accent: map-get($theme, accent)


h1
  margin: 40px
  font-weight: bold
  font-size: 60px
  color: mat-color($accent)
  font-family: 'Khand', sans-serif

h1.phone
  margin: 20px
  font-size: 30px
