<h1 ngClass.xs="phone">Discord Fantasy</h1>
<mat-divider></mat-divider>

<mat-tab-group [selectedIndex]="1">
  <!-- -------------------------------- -->
  <mat-tab label="Play-In: Día 1">
    <app-predict-table [predictsData]="playInDay1" [title]="'Play-In: Día 1'"></app-predict-table>
  </mat-tab>
  <!-- -------------------------------- -->
  <mat-tab label="Play-In: Día 2">
    <app-predict-table [predictsData]="playInDay2" [title]="'Play-In: Día 2'"></app-predict-table>
  </mat-tab>
</mat-tab-group>
