@import "~src/styles"
@import url('https://fonts.googleapis.com/css?family=Khand:400,700')

$primary: map-get($theme, primary)
$accent: map-get($theme, accent)

div#button-container
  padding-left: 40px
  margin: 15px 0 25px 0

h1
  margin: 40px
  font-weight: bold
  font-size: 60px
  color: mat-color($accent)
  font-family: 'Khand', sans-serif

h1.phone
  margin: 20px
  font-size: 30px

.button-icons
  font-size: 20px

.button-icons.bigger-mobile
  padding: 0 6px 8px 0

.button

// ----------------------------------------------------------------------
// RANKING SIDENAV
mat-sidenav
  position: fixed
  height: 100vh
  width: 350px
  border: mat-color($primary) 1px solid

mat-sidenav.mobile
  width: 100%

#sidenav-header
  height: 60px
  padding: 0 25px 0 20px

  h3
    color: mat-color($accent)
    font-size: 30px
    font-weight: bold
    font-family: 'Khand', sans-serif
    margin: 0

  #close-sidenav-button
    font-size: 30px

#ranking-table
  height: calc(100vh - 60px)


// ----------------------------------------------------------------------
// STAGE TOGGLE
.mat-button-toggle
  background-color: mat-color($primary)
  color: mat-color($primary, default-contrast)

.mat-button-toggle-checked
  background-color: #a57b00
  color: black !important
