@import 'themes/black-theme'
@import 'themes/light-theme'
@import 'themes/luxor-golden'

@include mat-core()

// BLACK THEME --------------------------------------------
//$theme: $anms-black-theme
//@include angular-material-theme($anms-black-theme)

// LIGHT THEME --------------------------------------------
$light-theme: $anms-light-theme
//@include angular-material-theme($anms-light-theme)

// LUXOR GOLDEN THEME --------------------------------------------
$theme: $luxor-golden-theme
@include angular-material-theme($luxor-golden-theme)

html, body
  margin: 0
  height: 100%

